<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | slice: 0,2 | default: 'en' }}">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body class="layout--{{ page.layout | default: layout.layout }}">

    <header id="header" class="page__header">
      {% include header.html %}
      {% include header/custom.html %}
    </header>

    <nav id="site-nav" class="site__navigation">
      {% include navigation/site.html %}
      {% include navigation/custom.html %}
    </nav>

    <div class="initial-content">
      <main id="main" class="page__main">
        {{ content }}
        {% include main/custom.html %}
      </main>

      <aside id="aside" class="page__aside">
        {% include aside.html %}
        {% include aside/custom.html %}
      </aside>
    </div>

    <footer id="footer" class="page__footer">
      {% include footer.html %}
      {% include footer/custom.html %}
    </footer>
</html>

{%- comment %} vim: set tw=79 ts=2 sw=2 ai si et: {% endcomment -%}
